{{! Description: Products view }}  

<div class="container">
    <div id="title">Juego 3 en Linea</div>

    <div id="players">
        <div id="player1">
            <dic id="player1Img"><img src="" alt=""></div>
            <div id="Player1Name">Jugador 1</div>
        </div>
        <div id="player2">
            <dic id="player2Img"><img src="" alt=""></div>
            <div id="Player2Name">Jugador 2</div>
        </div>
    </div>

    <div id="gameboard" class="board">
        <div id="fistRoad" >
            <div id="cell11" class="cell upcell"></div>
            <div id="cell12" class="cell upcell"></div>
            <div id="cell13" class="cell upcell"></div>
        </div>
        <div id="secondRoad" >
            <div id="cell21" class="cell"></div>
            <div id="cell22" class="cell"></div>
            <div id="cell23" class="cell"></div>
        </div>

        <div id="thirdRoad" >
            <div id="cell31" class="cell bottomcell"></div>
            <div id="cell32" class="cell bottomcell"></div>
            <div id="cell33" class="cell bottomcell"></div>
        </div>

    </div>
    
</div>
